@model bool?

@if(Model==true)
{
	<div class="container">
		<h1>Player added!</h1>
	</div>
}
<div class="jumbotron">
	<h1>Welcome Lame Canadians!</h1>
	<p class="lead">Have fun and don't feel bad about the fact that you're not as "awesome" as your neighbors down south, there's nothing you can do about it anyway...</p>
	<div class="col-md-8">
		<a class="btn btn-primary" href="/Home/NotificationSignUp">Subscribe to email list!</a>

		<a class="btn btn-primary" href="/Home/JoinNextGame">Sign up for upcoming game</a>
	</div>
</div>
