<div class="jumbotron container" style="margin-top: 30px;">
	<div class="row">
		<form method="post" action="/Home/SubmitSub">
			<input type="text" name="FirstName" placeholder="First Name" />
			<input type="text" name="LastName" placeholder="Last Name" />
			<input type="text" name="Email" placeholder="Email" />
			<button class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

