<div class="jumbotron container" style="margin-top: 30px;">
	<div class="row">
		<form method="post" action="/admin/AddGame">
			<input type="datetime-local" name="datetime" />
			<input type="number" name="MaxPlayers" placeholder="Max amount of players:" />
			<button class="btn btn-primary">Submin</button>
		</form>
	</div>
</div>
