<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GamesdbLibrary.Properties.Settings.GameConStr" connectionString="Data Source=.\sqlexpress;Initial Catalog=HockeyGame;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>